SERVER_PORT=8080

FLYWAY_ENABLED=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_SCHEMA=kepegawaian
DB_USER=root
DB_PASSWORD=
DB_POOL_SIZE=10
DDL_AUTO=none

APPWRITE_ENDPOINT=http://127.0.0.1:82/v1
APPWRITE_PROJECT_ID=CHANGE_ME
APPWRITE_API_KEY=CHANGE_ME

PROTECTED_DELETE_KTP=1